absl-py==2.0.0
accelerate==0.24.1
adaseq==0.6.6
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
albumentations==1.3.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==3.7.1
apex @ file:///apex
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
auto-gptq==0.5.1+cu118
av==11.0.0
Babel==2.13.1
basicsr==1.4.2
beartype==0.16.4
beautifulsoup4==4.12.2
biopython==1.81
bitarray==2.8.3
bitsandbytes==0.41.2.post2
bitstring==4.1.4
black==23.11.0
bleach==6.1.0
blis==0.7.11
blobfile==2.1.1
bmt-clipit==1.0
boltons @ file:///croot/boltons_1677628692245/work
boto3==1.33.8
botocore==1.33.8
brotlipy==0.7.0
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
cffi @ file:///croot/cffi_1670423208954/work
cfgv==3.4.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chumpy==0.70
cityscapesScripts==2.2.2
click==8.1.7
clip==1.0
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
conda @ file:///croot/conda_1696257509808/work
conda-content-trust @ file:///croot/conda-content-trust_1693490622020/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1696257536937/work/src
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
confection==0.1.4
ConfigArgParse==1.7
contextlib2==21.6.0
contourpy==1.2.0
control-ldm==0.0.1
crcmod==1.7
cryptography @ file:///croot/cryptography_1694444244250/work
cycler==0.12.1
cymem==2.0.8
Cython==0.29.36
dataclasses==0.6
datasets==2.15.0
ddpm-guided-diffusion==0.0.0
debugpy==1.8.0
decorator==4.4.2
decord==0.6.0
deepspeed==0.12.3
defusedxml==0.7.1
descartes==1.1.0
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@017abbfa5f2c2a2afa045200c2af9ccf2fc6227f
dgl==1.1.2+cu118
diffusers==0.21.4
dill==0.3.6
distlib==0.3.7
easydict==1.11
easyrobust==0.2.4
edit-distance==1.0.6
editdistance==0.6.2
einops==0.7.0
embeddings==0.0.8
emoji==2.9.0
exceptiongroup==1.1.3
executing==2.0.1
expecttest==0.1.6
face-alignment==1.4.1
fairscale==0.4.13
fairseq==0.12.2
fastai==2.7.13
fastapi==0.104.1
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.19.0
fastprogress==1.0.3
fasttext==0.9.2
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.13.1
fire==0.5.0
flake8==6.1.0
flash-attn==2.3.3+torch2.1cu118
flatbuffers==23.5.26
fonttools==4.44.3
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.3
funasr==0.8.7
funtextprocessing==0.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.5.4
gekko==1.0.6
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.1
grpcio==1.59.2
h11==0.14.0
h5py==3.10.0
hdbscan==0.8.33
hjson==3.1.0
httptools==0.6.1
huggingface-hub==0.19.4
humanfriendly==10.0
hydra-core==1.0.7
HyperPyYAML==1.2.2
identify==2.5.32
idna @ file:///croot/idna_1666125576474/work
imageio==2.33.0
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1694632425602/work
imgaug==0.4.0
importlib-metadata==6.8.0
inflect==7.0.0
iniconfig==2.0.0
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.26.0
ipython==8.17.2
isoduration==20.11.0
isort==5.12.0
jaconv==0.3.4
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
json-tricks==3.17.3
json5==0.9.14
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonplus==0.8.0
jsonpointer==2.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kaldiio==2.18.0
kantts==1.0.1
keras==2.14.0
kiwisolver==1.4.5
kornia==0.7.0
kwsbp==0.0.6
langcodes==3.3.0
lap @ git+https://github.com/gatagat/lap.git@d35979164b6d27f2d886860cc1fe641023f522d7
lazy_loader==0.3
libclang==16.0.6
libmambapy @ file:///croot/mamba-split_1694187754698/work/libmambapy
librosa==0.10.1
lightning-utilities==0.10.0
llvmlite==0.41.1
lmdb==1.4.1
lpips==0.1.4
lxml==4.9.3
lyft-dataset-sdk==0.0.8
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
megatron-util==1.3.2
MinDAEC==0.0.2
mir-eval==0.7
mistune==3.0.2
ml-collections==0.1.1
ml-dtypes==0.2.0
mmcls==0.25.0
mmcv-full @ https://modelscope.oss-cn-beijing.aliyuncs.com/packages/mmcv_full-1.7.0-cp310-cp310-linux_x86_64.whl#sha256=e0bccb33c09cd560e03e0fa81fd94b09a6def151904c5d821821e34877583ac3
mmdet==2.28.2
mmdet3d==1.0.0a1
mmsegmentation==0.30.0
mock==5.1.0
modelscope @ file:///tmp/MaaS-lib
moviepy==1.0.3
mpi4py==3.1.5
mpmath==1.3.0
ms-swift==1.4.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
MultiScaleDeformableAttention==1.0
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nerfacc==0.2.2
nest-asyncio==1.5.8
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
nodeenv==1.8.0
notebook_shim==0.2.3
numba==0.58.1
numpy==1.26.1
nuscenes-devkit==1.1.11
nvdiffrast @ file:///nvdiffrast
oauthlib==3.2.2
omegaconf==2.0.6
onnx==1.15.0
onnxruntime==1.16.3
onnxsim==0.4.35
open-clip-torch==2.23.0
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
opt-einsum==3.3.0
optimum==1.14.1
oss2==2.18.3
overrides==7.4.0
packaging @ file:///croot/packaging_1693575174725/work
pai-easycv==0.11.6
paint-ldm==0.0.0
pandas==2.1.3
pandocfilters==1.5.0
panopticapi==0.1
parso==0.8.3
pathspec==0.11.2
peft==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==4.0.0
plotly==5.18.0
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
plyfile==1.0.2
pointnet2 @ git+https://github.com/gxd1994/Pointnet2.PyTorch.git@8e25e3a22386d27286f5cd415153f0002317591b#subdirectory=pointnet2
pooch==1.8.0
portalocker==2.8.2
pre-commit==3.5.0
preshed==3.0.9
prettytable==3.9.0
proglog==0.1.10
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==3.20.3
psutil==5.9.6
ptflops==0.7.1.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-sound-connect==0.2.1
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pyclipper==1.3.0.post5
pycocoevalcap==1.2
pycocotools==2.0.7
pycodestyle==2.11.1
pycosat @ file:///croot/pycosat_1696536503704/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==1.10.13
pydantic_core==2.14.3
pyDeprecate==0.3.2
pydot==1.4.2
pyflakes==3.1.0
Pygments==2.16.1
PyMCubes==0.1.4
pynini==2.1.5
pynndescent==0.5.11
pynvml==11.5.0
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
pyquaternion==0.9.9
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pysptk==0.1.18
pytest==7.4.3
pythainlp==4.0.2
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytorch-lightning==1.7.7
pytorch-metric-learning==2.3.0
pytorch-wavelets==1.3.0
pytorch-wpe==0.0.1
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@2f11ddc5ee7d6bd56f2fb6744a16776fab6536f7
pytz==2023.3.post1
pyvi==0.1.1
PyWavelets==1.5.0
PyYAML==6.0.1
pyzmq==25.1.1
qudida==0.0.4
rapidfuzz==3.5.2
ray==2.8.0
referencing==0.31.0
regex==2023.10.3
requests @ file:///croot/requests_1690400202158/work
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rotary-embedding-torch==0.4.0
rouge==1.0.1
rouge-score==0.0.4
rpds-py==0.13.1
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
s3transfer==0.8.2
sacrebleu==2.3.2
sacremoses==0.1.1
safetensors==0.4.0
scikit-image==0.19.3
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
Send2Trash==1.8.2
sentencepiece==0.1.99
seqeval==1.2.2
Shapely==1.8.4
shotdetect-scenedetect-lgss==0.0.4
simplejson==3.19.2
six==1.16.0
sklearn-crfsuite==0.3.6
smart-open==6.4.0
smplx==0.1.28
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sox==1.4.1
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==0.5.16
srsly==2.4.8
stack-data==0.6.3
stanza==1.7.0
starlette==0.27.0
subword-nmt==0.3.8
sympy==1.12
tabulate==0.9.0
taming-transformers-rom1504==0.0.6
tb-nightly==2.16.0a20231127
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensordict==0.2.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.18.0
terminaltables==3.1.10
text2sql-lgesql==1.3.0
tf-keras-nightly==2.16.0.dev2023112710
tf-slim==1.1.0
thinc==8.2.1
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.9.26
tiktoken==0.5.1
timm==0.5.4
tinycss2==1.2.1
tinycudann==1.7+cu118
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==2.1.0+cu118
torch-complex==0.4.3
torch-scatter==2.1.2
torchaudio==2.1.0+cu118
torchdata==0.7.0
torchmetrics==0.11.4
torchsde==0.2.6
torchsummary==1.5.1
torchvision==0.16.0+cu118
tornado==6.3.3
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.13.0
trampoline==0.1.2
transformers==4.32.0
transformers-stream-generator==0.0.4
trimesh==2.35.39
triton==2.1.0
truststore @ file:///croot/truststore_1695244293384/work
ttsfrd==0.2.1
typeguard==2.13.3
typer==0.9.0
types-python-dateutil==2.8.19.14
typing==3.7.4.3
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
umap==0.1.1
umap-learn==0.5.5
unicodedata2==15.1.0
unicore==1.2.1
Unidecode==1.3.7
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1686163155763/work
utils==1.0.1
uvicorn==0.24.0.post1
uvloop==0.19.0
videofeatures-clipit==1.0
virtualenv==20.25.0
vllm==0.2.1+cu118torch2.1
wasabi==1.1.2
watchfiles==0.21.0
wcwidth==0.2.12
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
wget==3.2
wrapt==1.14.1
xformers==0.0.22.post7+cu118
xtcocotools @ git+https://github.com/jin-s13/xtcocoapi.git@70a6aaa759d39a5d7ff919d3c7973daf3d244ecf
xxhash==3.4.1
yacs==0.1.8
yapf==0.30.0
yarl==1.9.3
zhconv==1.4.3
zipp==3.17.0
zstandard @ file:///croot/zstandard_1677013143055/work
